<div class="container__big-card">
    <div class="big-card__img">
        <img src="{{ photoCover }}"
        alt="" 
        height="280px"
        srcset="">
    </div>
    <div class="big-card__title">
        <div class="big-card__author">
            <span>By {{ author }}, {{ date }}</span>
        </div>
        <h1>
        <a href="" target="_blank" rel="">{{ cardTitle }}</a>
        </h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#" target="_blank">{{ cardDescription }}</a>
        </p>
    </div>
</div>
