<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__img">
            <img src="{{ photo }}"
            alt="" 
            height=""
            srcset="">
        </div>
        <div class="small-card__title">
            <div class="small-card__author">
                <span>By {{ author }}, {{ date }}</span>
            </div>
            <h3>
            <a href="" target="_blank" rel="">{{ smallTitle }}</a>
            </h3>
        </div>
    </div>

    <div class="dividers">
    <hr>
    </div>
</div>
