<div class="container__small-card">
    <div class="container__small-card-content">
        <div class="small-card__img">
            <img src="http://www.wallpaperup.com/uploads/wallpapers/2014/01/21/234209/518511aba878667dc76e37129d58b136.jpg"
            alt="" 
            height=""
            srcset="">
        </div>
        <div class="small-card__title">
            <h3>
            <a href="" target="_blank" rel="">Sed eu justo metus. Quisque ex nibh, hendrerit at dolor eu, ultrices suscipit arcu.</a>
            </h3>
        </div>
    </div>

    <div class="dividers">
    <hr>
    </div>
</div>
